.post{
   border: 2px solid blueviolet;
   padding: 10px;
   border-radius: 15px;
}

.posts{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px; 

}

@media screen and (max-width: 768px){
   .posts{
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
   }
   
}
