*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* PSEUDO CODE START HERE */
ul {
    text-decoration: none;
}
h3{
    color: blueviolet;
}
h3::before{
    content: "�Head�";
    color: aquamarine;
    font-size: 20px;
    margin-right: 10px;
}
h3::after{
    content: ".pdf";
    color: chocolate;
    font-size: 15px;
}

/* Hover means MouseOver */
h3:hover{
    color: rgb(255, 1, 1);
    background-color: blue;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    align-content: center;
}
input:focus{
    color: rgb(255, 153, 0);
    padding-left: 25px;
}
a:visited{
    color: green;
}
li:first-child{
    color: black;
}
li:;last-child{
    color: black;
}
/* PSEUDO CODE ENDS HERE */

/* CSS POSITIONS STARTS HERE */
.box1{
    border: 2px dotted sandybrown;
    width: 200px;
    height: 100px;
    position: relative;
}

.boy1{
    position: fixed;
    z-index: 1;
}
.ring1{
    position: sticky;
    z-index: 0;
}
.water1{
    position: relative;
    z-index: -1;
}
/* CSS POSITIONS ENDS HERE */
/* ---------------------------------------------- */
/* CSS Z INDEX POSITIONS STARTS HERE */
.box2{
    border: 2px dotted sandybrown;
    position: relative;
}

.boy2{
    z-index: 1;
}
.ring2{
    top: -70px;

}
.water2{
    top: -150px;
    z-index: -1;
}
/* CSS Z INDEX POSITIONS ENDS HERE */

p::first-letter{
    font-size: 3em;
}