.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-rows: repeat(3, 200px) 50px 50px;
    border: 2px solid saddlebrown;
}
.box{
    background-color: lightseagreen;

}
#box-1{
    grid-row: span 5;
}

#box-11, #box-12{
    grid-column: span 3;
}